body {
    font-family: 'Oswald', sans-serif;

    margin: 0;
}

.orange {
    color: orange;
}

.hello {
    color: black;
}

.flexible {
    display: flex;
    padding-bottom: 100px;
}

.half {
    width: 50%;
    padding-left: 5%;

}

.half img {
    width: 70%;

}

.github {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 5px 20px;
    border-radius: 10px;


}

.top {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.topok {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.Ok {
    padding-left: 0%;
    padding-right: 1%;
}

.third {

    width: 50%;
    padding-left: 5%;
    box-shadow: 10px 10px 10px wheat;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;



}

#only {
    border-image: linear-gradient(orange, red);
    border-image-slice: 1;
    border-left: 5px solid;

}

#onlyfirst {
    border-image: linear-gradient(black, white);
    border-image-slice: 1;
    border-left: 5px solid;

}

.picture {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.halka {
    color: orange;
}